@tailwind base;
@tailwind components;
@tailwind utilities;

*,
html,
body {
  scroll-behavior: smooth;
  transition: all 20ms ease-in-out;
  overflow: -moz-scrollbars-none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer and Edge */
  scrollbar-width: none; /* Firefox */
}

::-webkit-scrollbar {
  display: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
  margin: 0;
}

input[type="password"]::-ms-reveal {
  display: none;
}

@keyframes hideSideBarText {
  0% {
    opacity: 1;
    display: flex;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes closeSideBar {
  0% {
    left: 14rem;
  }
  100% {
    left: 5rem;
  }
}

@keyframes openSideBar {
  0% {
    left: 5rem;
  }
  100% {
    left: 14rem;
  }
}

@keyframes moveIn {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
